#!/usr/bin/make -f


#include debian/cmake_cdbs.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk


DEB_DH_INSTALL_ARGS = --sourcedir=debian/tmp


binary-install/feeder::
	mkdir debian/feeder/usr/share/applications
	cp debian/feeder.desktop debian/feeder/usr/share/applications
	dh_desktop
	mkdir debian/feeder/usr/share/feeder
	cp data/logo.png debian/feeder/usr/share/feeder
